body {
    font-family: sans-serif;
    color: #F0F0F0;
    background-color: #1A1A1A;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

textarea {
    padding: 1em;
    color: #F0F0F0;
    background-color: #444444;
}

button {
    font-size: 1em;
    padding: 0.5em 4em;
    align-self: center;
}